@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700");

body {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  min-width: 360px;
  min-height: 380px;
  background-size: cover;
}